<!DOCTYPE html>
<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li>
        <a href="https://wa.me/{{ whatsapp }}" class="icon-whatsapp footer__item">
          <span>WhatsApp</span>
        </a>
      </li>
      <li>
        <a href="https://vk.com/{{ vk }}" class="icon-vk footer__item">
          <span class="">ВКонтакте</span>
        </a>
      </li>
      <li>
        <a href="https://t.me/{{ telegram }}" class="icon-telegram footer__item">
          <span class="">Telegram</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
