{% extends 'base_auth.html' %}

{% block content %}
<section class="accounts">
  <div class="container">
    <h1 class="accounts__title">Восстановление пароля</h1>
    <div class="accounts__container">
      <form method="post" action="{% url 'password_reset' %}" class="accounts__form">
        {% csrf_token %}
        {% comment %}
        {{ form.as_p }}
        {% endcomment %}
        <input class="accounts__input" type="email" name="email" placeholder="Электронная почта" required="">
        {{ form.errors }}
        <button class="button accounts__form-button">Восстановить</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
