//color
$base-header-footer: #F2AFB6;
$base-header-hamburger: rgb(242, 175, 182, 0.98);
$base-link: #000;
$base-link-hover:#32A3A9;
$base-link-active: #32A3A9;
//size
$base-margin-top:80px;

//border-radius
$base-border-radius-button: 50px;
$base-border-radius-container: 18px;
$base-border-radius-input: 40px;
$base-border-radius-images: 40px;
$base-radius-tag-label: 15px;
$base-radius-thummb-images: 30px;
